
.display-hidden {
    display: none;
}

.index-appear {
    animation: appear 1s ease-in;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
    
}

.bg-header-cv {
    background-color: #0a65b4;
}