.header-background-nav {
    background: #0a65b4;
    width: 100%;

}

@media screen and (min-width: 490px) {
    .header-background-nav {
        background: #0a65b4;
        width: fit-content;
        height: 100%;
    }
}

.icon-color {
    color: #ffc107;
}